In [0]:
import pandas as pd
doc="NivelAlta"
dataset=pd.read_excel('/content/'+doc+'.xlsx')

In [17]:
dataset['fecha_hora'] = pd.to_datetime(dataset['fecha_hora'])
dataset.head()
#df=dataset

           fecha_hora  Nivel
0 2017-11-01 00:00:00  34.03
1 2017-11-01 00:01:00  34.14
2 2017-11-01 00:02:00  34.35
3 2017-11-01 00:03:00  34.14
4 2017-11-01 00:04:00  34.46

In [18]:
#Agrupar los datos y promediarlos por hora
times = pd.DatetimeIndex(dataset.fecha_hora)
grouped = dataset.groupby([times.year,times.month,times.day,times.hour]).mean()
print (grouped)

                                                 Nivel
fecha_hora fecha_hora fecha_hora fecha_hora
2017       11         1          0           34.886400
                                 1           32.907692
                                 2           29.594375
                                 3           30.815833
                                 4           26.921458
                                 5           29.235625
                                 6           29.906250
                                 7           30.443846
                                 8           30.360417
                                 9           31.065417
                                 10          31.207083
                                 11          30.159167
                                 12          30.133333
                                 13          28.473750
                                 14          27.391042
                                 15          25.636250
                                 16          25.216200
                                 17          26.848800
                                 18          26.534583
                                 19          23.956667
                                 20          23.812292
                                 21          23.719167
                                 22          24.168542
                                 23          24.761875
                      2          0           25.895400
                                 1           26.695000
                                 2           26.266250
                                 3           24.126667
                                 4           23.997083
                                 5           24.158750
...                                                ...
2019       4          29         18          35.374333
                                 19          35.060500
                                 20          34.889167
                                 21          34.716667
                                 22          34.436167
                                 23          34.658833
                      30         0           33.187167
                                 1           32.620000
                                 2           32.654667
                                 3           32.568000
                                 4           32.222500
                                 5           32.143833
                                 6           32.490667
                                 7           33.214167
                                 8           34.635333
                                 9           35.990833
                                 10          36.583167
                                 11          36.958167
                                 12          37.773167
                                 13          37.854833
                                 14          37.467833
                                 15          37.035000
                                 16          37.037000
                                 17          36.110500
                                 18          35.402333
                                 19          35.146667
                                 20          35.007333
                                 21          34.861000
                                 22          34.893167
                                 23          34.866667

[10951 rows x 1 columns]

In [0]:
grouped.to_excel(str(doc) + "_Hour.xlsx")